
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html{
    font-size: 62.5%;
}

.complete-nav-container{
 position: fixed;
width: 100vw;
z-index: 100;
}
.dropdown-text{
    display:grid;
    font-family: Rockwell;
padding: 7px
}
.dropdown-text:hover{
    background-color: #444;
    color:#fff;
}
.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 2px black;
    

    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
  }
  
  /* Style the dropdown link */
  .dropdown:hover .dropdown-content {
    display: grid; /* Show the dropdown content on hover */
  }

  

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.nav-container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar{
    
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
    width: 100%;
    background-color: rgba(10, 10, 10, 0.797);
    color: rgb(241, 241, 241);
    opacity: 1;
    z-index: 100;
    
    
} 

.nav-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    font-size: 2.3rem;
    display: inline-flex;
    float:left
}

.menu-items li{
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    color:inherit;
    
    
}

.menu-items{
    height: 100%;
    justify-content: center;
    align-items: center;
}

.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #00b9f1;
}


.list-container{
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: center;

}

.menu-items div{
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

/* .menu-items div:hover{
    background-color: #444;
    color:white;
} */