@font-face {
    font-family: Rockwell;
    src: url(https://kinsta.com/blog/web-safe-fonts/#27-rockwell);
  
  }

.services.container-main{
    margin: auto;
}
.services{
    color:white;
    
    font-family: Rockwell;
}
.services.title{
    margin:auto;
    text-align: center;
    display: block;
    color: rgb(58, 58, 58);
    font-size: 3rem;
    padding-top: 5rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.852);

}
hr{
    width:25rem;
    margin:auto;
}

.primary-container{
    background-image: linear-gradient(
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.3)),
    url('https://smmtc.org/plantpix/2009/coyote_brush2.jpg');
    background-size: cover;
    background-position: top 100px;
    display:flex;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-left: 10vw;
    
    margin-right: 10vw;
    border: solid black 5px
}

.secondary-container{
    margin-top: auto;
    margin-bottom: auto;
    margin-left:2vw;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.852);
    
}

.container-title{
    
    margin-left: 2rem;
}

.container-button-price{
    
    margin-top: 1rem;
    margin-left: 2rem;
    
}


.sellpoint{
    padding-bottom: 10px;
    font-size: 1.2rem;
}

.services.booknow{
    width: 9rem;
    height: 2.5rem;
    margin-top: .5rem;
    background-color: rgb(255, 4, 0);
    border-radius: 0px;
    border-color:rgb(255, 4, 0) ;
    box-shadow: 1px 1px 5px 2px black;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px black;
} 

.motto-title{
    margin-bottom: 4rem;
    font-size: 3rem;
    margin-left: 30px;
    margin-right:4vw;
    display: inline-flex;
    max-width: 20vw;
}

.motto{
    margin-left:30px;
    margin-right:4vw;

}

.primary-info-container{
    padding-left: 10vh;
    padding-right:10vh;
    padding-top:75px;
}

.info-title{
    padding-top: 3vh;
    color: rgb(255, 4, 0);
    text-shadow: 1px 1px 3px rgb(216, 216, 216);
    padding-bottom: 3vh;
    text-align: center;
}

h2.infoheader{
    color:rgb(0, 0, 0);
    text-shadow: none;
    font-weight: 300;
    font-size: 1.2rem;
    margin-left: 0px;

}
p.infoheader{
    color:rgb(41, 41, 41);
    text-shadow: none;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px
}

.infoheader{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 15%;
    margin-right:15%;
}

.price{
    font-size: 1.4rem
}

.icon-grid{
    display: grid;
    padding-left: 10vw;
    padding-right: 10vw;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 50px
}
.icon-grid img{
    display: flex;
    margin:auto;
    width: 10vw;
    max-width: 150px;
}
.primary-icon-container h1{
    color: rgb(58, 58, 58);
    font-size: 2.4rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.primary-icon-container{
    padding-bottom: 75px;
}
.icon-container h3{
    color:rgb(58, 58, 58);
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right:20px;
    padding-left:20px;
}
.icon-container p{
    color:rgb(58, 58, 58);
    padding-right:20px;
    padding-left:20px;
    padding-bottom: 10px;
}
hr{
    width:80%;
}

.infogrid{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px
}
.infosubgrid img{
    max-width: 100%;
    
}

@media (max-width:1200px){
    .third-half-container{
        display: none;
    }
    .motto{
        display:none
    }
}

@media (max-width:800px){
    .primary-info-container{
        padding-left: 20px;
        padding-right:20px;
    }
    p.infoheader{
        margin-left: 5%;
        margin-right:5%;
    }
    .primary-container{
        margin-left: 5%;
        margin-right:5%
    }
    .infogrid{
        display: inline;
    }
    .icon-grid{
        display: inline;
    }
}

.dropdown-container{
    position: absolute;
    top: 64px;
    background-color: rgb(48, 48, 48);
    width: 100%;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}
.dropdown-items{
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    margin: 0px;
}
